{
  "MONGO_ON_SAME_HOST": 1,
  "MONGO_DB": "thai_marketplace",
  "MONGO_USERNAME": "",
  "MONGO_PW": "",
  "MONGO_PORT": 27017,
  "MONGO_HOST": "localhost",
  "REDIS_HOST": "127.0.0.1",
  "REDIS_PORT": 6379,
  "REDIS_PW": "529ca8050a001807",
  "customStr": "mongodb://127.0.0.1:27017/admin",
  "USE_TESTNET": 1,
  "WEB_SERVER_PORT": 9000,
  "NBXPLORER_URL_MAINNET": "http://btcpay.cocksuckas.com:23003",
  "NBXPLORER_URL_TESTNET": "http://btcpay.cocksuckas.com:23002",
  "WALLET_CHANGE_ADDRESS": "FILL_ME",
  "BTC_PAY_URL": "http://btcpay.cocksuckas.com",
  "BTC_PAY_TOKEN": "11108a8497f371fe646b321498af476c9e89ca1c",
  "BTC_PAY_STOREID": "4FcbKjsUQHwG2BYHrUhDEjnWt9EyNWx4YphmmNu8uWgg",
  "BTC_DERIV_SCHEME": "tpubDCPSQbuHjJuTuApjzoTp4GJDFdF2bBuHaAZM99PPrrDF5fMRzAngjgjQYtoZBU1g5yzDEztNy4kpJVMKgBYDCxPo67U6zQZaRHwvfDW4ksq",
  "NBXPLORER_PASSWORD": "12c7a14460af780de64e0493fc47bbaeda329952eca5cb023d07c75747429d5a",
  "BTC_PAY_API_KEY": "11108a8497f371fe646b321498af476c9e89ca1c",
  "API_URL": "127.0.0.1:9000",
  "WEBPACK_URL": "127.0.0.1:8080",
  "SECRET_KEY": "xtRvvs2mM/wc/1fRH1qE/Po4L+UUK3HY1hlZ3vr1d4y2GNCzljf+mMzs91L4jHc5V7HfztCgQ/+qYBjOhRet51YfIei5lZRSkqQ3QSjKWlgH+ayL2GM0qKJ+Oz+68GdHpgS67GszPxeeDT7Xuams/P4k0FkdUJjjSOWWQPJZNsItcFMC8fx/S48cO5NlKRhBCs8hGh6MKm9P2N1NndHEou3ky8xgExPEKl6a0ld952nkoe/EcQ+MSO3nNEs4UNiA7Lln3vk+RfC+HNm3v+OTafY6hUaTEbUr5v83KJdfw+wEtE836axW0UEvzuAjF7Wb86xhz49my/3otOIOIh4vSg=="
}