$black: #000000;
$almost-black: #222222;
$white: #ffffff;
$red : #F44336;
$blue: #191F2D;
$grey: #2c2c2e;

.black {
    background-color: $black;
}

.white {
    background-color: $white;
}

.red {
    background-color: $red;
}

.blue {
    background-color: $blue;
}

.grey {
    background-color: $grey;
}

.black--text {
    color: $black;
}

.white--text {
    color: $white;
}

.red--text {
    color: $red;
}

.grey--text {
    color: $grey;
}